/* 该文件配置网站的文字  图标 等等 一系列dom元素的样式文件 */
:root {
    /* 通过配置 自定义颜色 */
    --vp-home-hero-name-color: transparent;
    /* 主页标题文字的颜色  */
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, rgb(85, 184, 255), #bd34fe);
    /*  文字颜色 */
    --vp-global-text-color: #4B5563;
    /**  文本高亮颜色 **/
    --vp-global-text-light-color:#ff8400;

    /* botton按钮 */
    /* --vp-button-brand-border: #81634b; */
    /* 按钮文本颜色 */
    --vp-button-brand-text: #ffffff;
    /* 按钮背景颜色 */
    --vp-button-brand-bg: #5672cd;

    /* 鼠标悬停的效果之后的样式 */
    --vp-button-brand-hover-border: #00FFEE;
    --vp-button-brand-hover-text: #000000;
    --vp-button-brand-hover-bg: #00FFEE;

    /** 连接效果 **/
    --vp-c-brand-1: #049ef4;
    --vp-button-brand-active-border: #ff7500;

    /* 主题基色 */
    --vp-c-brand: #ff8400;
    /* 白色模式 主题基色 */
    --vp-c-brand-light: #ff8400;
    /* 黑色模式 主题基色 */
    --vp-c-brand-dark: #ff8400;
    /** 卡片背景色 **/
    --vp-c-bg-soft: #f6f6f7;

}

#VPContent .VPHero.has-image.VPHomeHero .image .image-bg {
    background-image: linear-gradient(135deg, rgba(254, 216, 25, .8) 15%, rgba(242, 58, 29, .6) 35%, rgba(247, 119, 27, .1) 42%, rgba(255, 255, 255) 45%, rgba(71, 202, 255, .5) 50%, rgba(71, 202, 255) 60%, rgba(64, 158, 255) 80%);
    border-radius: 50%;
    filter: blur(48px) !important;
    z-index: -1;
    animation: pulse 3s cubic-bezier(0, 0, 0, .5) infinite !important;
}

@keyframes pulse {
    50% {
        transform: scale(1.3) translate(-40%) translateY(-40%);
    }
}

#VPContent .VPHero.has-image.VPHomeHero .image .image-src {
    max-width: 700px;
}

h3 {
    letter-spacing: -0.01em;
    color: var(--vp-c-brand);
    font-size: 18px;
    margin-bottom: 1em;
    transition: color 0.5s;
}
a {
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    color:var(--vp-global-text-color);
}
a:hover {
    color:var(--vp-global-text-light-color) !important;
    transition: none;
    cursor: pointer;
}

